a.btn {
  color: white !important;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
}

a.btn-yellow {
  background: #fbd87c;
}

a.btn-green {
  background: #7ec6b0;
}

.mobile-show {
  display: block;
}

@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-show {
    display: none;
  }
}