.blue-banner {
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background: #21419a;
  padding: 25px 0;

  sup {
    font-size: 6px;
    top: -7px;
  }

  a.btn-yellow {
    color: #21419a !important;
    margin-left: 20px;
  }
}

@media screen and (max-width: 465px) {
  .blue-banner {
    a.btn-yellow {
      margin: 25px auto 10px;
      width: 200px;
      display: block;
    }
  }
}
